.form-container-custom{
    background-color: #fff;
    border: 0.1rem solid blue;
}

.form {
    background-color: rgb(213, 223, 236);
    padding: 2rem;
}

.form-container-custom .form-group .form-control{
    padding: 1rem;
    box-shadow: 0.3rem 0.3rem 0.7rem rgb(131, 131, 132) inset;
}
.form-container-custom .form-group .form-message{
    color: red;
    font-weight: 0.5rem;
}

.form-container-custom .form-group .form-label{
    color: black;
    font-weight: bolder;
    text-shadow: 0.2rem 0.2rem 0.4em rgb(17, 47, 135);
}